<a href="https://colab.research.google.com/github/T-art-coder/TidyTuesday-Weekly/blob/main/TidytTuesday_07_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## packages and etc

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
install.packages("readr")
install.packages("lubridate")
install.packages("scales")
install.packages("tidyverse")
install.packages("skimr")
install.packages("corrplot")
install.packages("gridExtra")
install.packages("caret")
install.packages("GGally")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘listenv’, ‘parallelly’, ‘future’, ‘globals’, ‘future.apply’, ‘progressr’, ‘numDeriv’, ‘SQUAREM’, ‘lava’, ‘prodlim’, ‘proxy’, ‘iterators’, ‘Rcpp’, ‘gower’, ‘hardhat’, ‘ipred’, ‘timeDate’, ‘e1071’, ‘foreach’, ‘ModelMetrics’, ‘plyr’, ‘pROC’, ‘recipes’, ‘reshape2’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘reshape’

In [ ]:
#install.packages("ggpubr")
install.packages("readxl")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(corrplot)
library(caret)
library(gridExtra)
library(skimr)
library(tidyverse)
library(lubridate)
library(GGally)
library(scales)
#library(ggpubr)

In [ ]:
my_pretty_theme <- theme_minimal(base_family = "Roboto Condensed", base_size = 12) +
  theme(panel.grid.minor = element_blank(),
        # Bold, bigger title
        plot.title = element_text(face = "bold", size = rel(1.7)),
        # Plain, slightly bigger subtitle that is grey
        plot.subtitle = element_text(face = "plain", size = rel(1.3), color = "grey70"),
        # Italic, smaller, grey caption that is left-aligned
        plot.caption = element_text(face = "italic", size = rel(0.7), 
                                    color = "gray50"),
        # Bold legend titles
        legend.title = element_text(face = "bold"),
        # Bold, slightly larger facet titles that are left-aligned for the sake of repetition
        strip.text = element_text(face = "bold", size = rel(1.1), hjust = 0),
        # Bold axis titles
        axis.title = element_text(face = "bold"),
        # Add some space above the x-axis title and make it left-aligned
        # axis.title.x = element_text(margin = margin(t = 10), hjust = 0),
        # Add some space to the right of the y-axis title and make it top-aligned
        axis.title.y = element_text(margin = margin(r = 10), hjust = 1),
        # Add a light grey background to the facet titles, with no borders
        strip.background = element_rect(fill = "grey90", color = NA),
        # Add a thin grey border around all the plots to tie in the facet titles
        panel.border = element_rect(color = "grey90", fill = NA))

In [ ]:
caption <- "TidyTuesday 2022 W27 | K. Pennington Rental Housing Data | @TimirZolkin"

In [ ]:
flights <- readr::read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-07-12/flights.csv')

head(flights)

Rows: 688099 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (6): MONTH_NUM, MONTH_MON, APT_ICAO, APT_NAME, STATE_NAME, Pivot Label
dbl  (7): YEAR, FLT_DEP_1, FLT_ARR_1, FLT_TOT_1, FLT_DEP_IFR_2, FLT_ARR_IFR_...
dttm (1): FLT_DATE

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  YEAR MONTH_NUM MONTH_MON FLT_DATE   APT_ICAO APT_NAME             STATE_NAME
1 2016 01        JAN       2016-01-01 EBAW     Antwerp              Belgium
2 2016 01        JAN       2016-01-01 EBBR     Brussels             Belgium
3 2016 01        JAN       2016-01-01 EBCI     Charleroi            Belgium
4 2016 01        JAN       2016-01-01 EBLG     Liège                Belgium
5 2016 01        JAN       2016-01-01 EBOS     Ostend-Bruges        Belgium
6 2016 01        JAN       2016-01-01 EDDB     Berlin - Brandenburg Germany
  FLT_DEP_1 FLT_ARR_1 FLT_TOT_1 FLT_DEP_IFR_2 FLT_ARR_IFR_2 FLT_TOT_IFR_2
1   4         3         7        NA            NA            NA
2 174       171       345       174           161           335
3  45        47        92        45            45            90
4   6         7        13        NA            NA            NA
5   7         7        14        NA            NA            NA
6  98        99       197        NA            NA            NA
  Pivot Label
1 Antwerp (EBAW)
2 Brussels (EBBR)
3 Charleroi (EBCI)
4 Liège (EBLG)
5 Ostend-Bruges (EBOS)
6 Berlin - Brandenburg (EDDB)

## airports data (not needed)

In [ ]:
library(readxl)
# https://www.partow.net/miscellaneous/airportdatabase/
airports <- read_excel("/content/GlobalAirportDataBase.xlsx")

head(airports)

  icao_code iata_code airport_name                        city
1 AYGA      GKA       GOROKA                              GOROKA
2 AYLA      LAE       N/A                                 LAE
3 AYMD      MAG       MADANG                              MADANG
4 AYMH      HGU       MOUNT HAGEN                         MOUNT HAGEN
5 AYNZ      LAE       NADZAB                              NADZAB
6 AYPY      POM       PORT MORESBY JACKSONS INTERNATIONAL PORT MORESBY
  country          latitude_degrees latitude_minutes latitude_seconds
1 PAPUA NEW GUINEA 6                 4               54
2 PAPUA NEW GUINEA 0                 0                0
3 PAPUA NEW GUINEA 5                12               25
4 PAPUA NEW GUINEA 5                49               34
5 PAPUA NEW GUINEA 6                34               11
6 PAPUA NEW GUINEA 9                26               36
  latitude_direction longitude_degrees longitude_minutes longitude_seconds
1 S                  145               23                30
2 U                    0                0                 0
3 S                  145               47                19
4 S                  144               17                46
5 S                  146               43                34
6 S                  147               13                12
  longitude_direction altitude latitude_decimal_degrees
1 E                   1610     -6.082
2 U                      0     0.000
3 E                      7     -5.207
4 E                   1643     -5.826
5 E                     73     -6.570
6 E                     45     -9.443
  longitude_decimal_degrees
1 145.392
2 0.000
3 145.789
4 144.296
5 146.726
6 147.220

A sanity check.

In [ ]:
airports %>% filter(icao_code == "EBAW")

  icao_code iata_code airport_name city    country latitude_degrees
1 EBAW      ANR       DEURNE       ANTWERP BELGIUM 51
  latitude_minutes latitude_seconds latitude_direction longitude_degrees
1 11               24               N                  4
  longitude_minutes longitude_seconds longitude_direction altitude
1 27                46                E                   12
  latitude_decimal_degrees longitude_decimal_degrees
1 51.190                   4.463

In [ ]:
airports %>% filter(icao_code == "EBCI")

  icao_code iata_code airport_name   city      country latitude_degrees
1 EBCI      CRL       BRUSSELS SOUTH CHARLEROI BELGIUM 50
  latitude_minutes latitude_seconds latitude_direction longitude_degrees
1 27               33               N                  4
  longitude_minutes longitude_seconds longitude_direction altitude
1 27                13                E                   188
  latitude_decimal_degrees longitude_decimal_degrees
1 50.459                   4.454

In [ ]:
airports <- airports %>% mutate(country = str_to_title(country))
head(airports)

  icao_code iata_code airport_name                        city
1 AYGA      GKA       GOROKA                              GOROKA
2 AYLA      LAE       N/A                                 LAE
3 AYMD      MAG       MADANG                              MADANG
4 AYMH      HGU       MOUNT HAGEN                         MOUNT HAGEN
5 AYNZ      LAE       NADZAB                              NADZAB
6 AYPY      POM       PORT MORESBY JACKSONS INTERNATIONAL PORT MORESBY
  country          latitude_degrees latitude_minutes latitude_seconds
1 Papua New Guinea 6                 4               54
2 Papua New Guinea 0                 0                0
3 Papua New Guinea 5                12               25
4 Papua New Guinea 5                49               34
5 Papua New Guinea 6                34               11
6 Papua New Guinea 9                26               36
  latitude_direction longitude_degrees longitude_minutes longitude_seconds
1 S                  145               23                30
2 U                    0                0                 0
3 S                  145               47                19
4 S                  144               17                46
5 S                  146               43                34
6 S                  147               13                12
  longitude_direction altitude latitude_decimal_degrees
1 E                   1610     -6.082
2 U                      0     0.000
3 E                      7     -5.207
4 E                   1643     -5.826
5 E                     73     -6.570
6 E                     45     -9.443
  longitude_decimal_degrees
1 145.392
2 0.000
3 145.789
4 144.296
5 146.726
6 147.220

## {map} library!

In [ ]:
install.packages("maps")
library(maps)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘maps’


The following object is masked from ‘package:purrr’:

    map

In [ ]:
map_data("world") %>% filter(region == "Germany") %>% head(4)

  long     lat      group order region  subregion
1 14.21367 53.87075 465   34563 Germany Usedom
2 14.17217 53.87437 465   34564 Germany Usedom
3 14.04834 53.86309 465   34565 Germany Usedom
4 13.92578 53.87905 465   34566 Germany Usedom

### Step X1 Get the world polygon and extract necessary countries

In [ ]:
flights <- flights %>% mutate(STATE_NAME = str_replace(STATE_NAME, "United Kingdom", "UK"))

flights <- flights %>% mutate(STATE_NAME = str_replace(STATE_NAME, "Türkiye", "Turkey"))

In [ ]:
flights %>% select(STATE_NAME) %>% distinct()

In [ ]:
EU_borders <- map_data("world") %>% filter(region %in% flights$STATE_NAME )
#EU_borders <- map_data("world") %>% filter(region == "UK")
head(EU_borders)

  long     lat      group order region  subregion
1 20.06396 42.54727 6     770   Albania NA
2 20.10352 42.52466 6     771   Albania NA
3 20.18574 42.42588 6     772   Albania NA
4 20.24053 42.33897 6     773   Albania NA
5 20.34824 42.30879 6     774   Albania NA
6 20.40830 42.27495 6     775   Albania NA

In [ ]:
EU_borders %>% select(region) %>% distinct()

   region
1  Albania
2  Finland
3  Armenia
4  Austria
5  Belgium
6  Bulgaria
7  Bosnia and Herzegovina
8  Switzerland
9  Cyprus
10 Czech Republic
11 Germany
12 Denmark
13 Spain
14 Estonia
15 France
16 UK
17 Georgia
18 Greece
19 Croatia
20 Hungary
21 Ireland
22 Israel
23 Italy
24 Lithuania
25 Luxembourg
26 Latvia
27 Morocco
28 Moldova
29 Malta
30 Montenegro
31 Netherlands
32 Norway
33 Poland
34 Portugal
35 Romania
36 Serbia
37 Slovakia
38 Slovenia
39 Sweden
40 Ukraine

In [ ]:
head(flights, 2)

  YEAR MONTH_NUM MONTH_MON FLT_DATE   APT_ICAO APT_NAME STATE_NAME FLT_DEP_1
1 2016 01        JAN       2016-01-01 EBAW     Antwerp  Belgium      4
2 2016 01        JAN       2016-01-01 EBBR     Brussels Belgium    174
  FLT_ARR_1 FLT_TOT_1 FLT_DEP_IFR_2 FLT_ARR_IFR_2 FLT_TOT_IFR_2 Pivot Label
1   3         7        NA            NA            NA           Antwerp (EBAW)
2 171       345       174           161           335           Brussels (EBBR)

In [ ]:
flights %>% left_join(airports, by = c("APT_ICAO" = "icao_code")) %>% head(2)

  YEAR MONTH_NUM MONTH_MON FLT_DATE   APT_ICAO APT_NAME STATE_NAME FLT_DEP_1
1 2016 01        JAN       2016-01-01 EBAW     Antwerp  Belgium      4
2 2016 01        JAN       2016-01-01 EBBR     Brussels Belgium    174
  FLT_ARR_1 FLT_TOT_1 ⋯ latitude_minutes latitude_seconds latitude_direction
1   3         7       ⋯ 11               24               N
2 171       345       ⋯ 54                8               N
  longitude_degrees longitude_minutes longitude_seconds longitude_direction
1 4                 27                46                E
2 4                 29                55                E
  altitude latitude_decimal_degrees longitude_decimal_degrees
1 12       51.190                   4.463
2 57       50.902                   4.499

In [ ]:
airports_pr <- airports %>% 
  unite("lat", latitude_degrees, latitude_minutes, sep = ".") %>% unite("lat", lat, latitude_seconds, sep = "")  %>% 
  unite("lon", longitude_degrees, longitude_minutes, sep = ".") %>% unite("lon", lon, longitude_seconds, sep = "") %>% 
  mutate(lat = as.numeric(lat), 
        lon = as.numeric(lon)) %>%
  select(icao_code, airport_name, city, country, lat, lon)

  head(airports_pr)

  icao_code airport_name                        city         country
1 AYGA      GOROKA                              GOROKA       Papua New Guinea
2 AYLA      N/A                                 LAE          Papua New Guinea
3 AYMD      MADANG                              MADANG       Papua New Guinea
4 AYMH      MOUNT HAGEN                         MOUNT HAGEN  Papua New Guinea
5 AYNZ      NADZAB                              NADZAB       Papua New Guinea
6 AYPY      PORT MORESBY JACKSONS INTERNATIONAL PORT MORESBY Papua New Guinea
  lat    lon
1 6.4540 145.2330
2 0.0000   0.0000
3 5.1225 145.4719
4 5.4934 144.1746
5 6.3411 146.4334
6 9.2636 147.1312

In [ ]:
flights %>% select(APT_ICAO) %>% distinct() %>% left_join(airports_pr, by = c("APT_ICAO" = "icao_code"))

    APT_ICAO airport_name         city                           country
1   EBAW     DEURNE               ANTWERP                        Belgium
2   EBBR     BRUSSELS NATL        BRUSSELS                       Belgium
3   EBCI     BRUSSELS SOUTH       CHARLEROI                      Belgium
4   EBLG     LIEGE                LIEGE                          Belgium
5   EBOS     OOSTENDE             OSTEND                         Belgium
6   EDDB     SCHONEFELD           BERLIN                         Germany
7   EDDC     DRESDEN              DRESDEN                        Germany
8   EDDE     ERFURT               ERFURT                         Germany
9   EDDF     FRANKFURT MAIN       FRANKFURT                      Germany
10  EDDG     MUNSTER OSNABRUCK    MUENSTER/OSNABRUECK            Germany
11  EDDH     HAMBURG              HAMBURG                        Germany
12  EDDK     KOLN BONN            COLOGNE                        Germany
13  EDDL     DUSSELDORF           DUESSELDORF                    Germany
14  EDDM     MUNICH               MUNICH                         Germany
15  EDDN     NURNBERG             NUERNBERG                      Germany
16  EDDP     LEIPZIG HALLE        LEIPZIG                        Germany
17  EDDR     SAARBRUCKEN          SAARBRUECKEN                   Germany
18  EDDS     STUTTGART            STUTTGART                      Germany
19  EDDT     TEGEL                BERLIN                         Germany
20  EDDV     HANNOVER             HANNOVER                       Germany
21  EDDW     BREMEN               BREMEN                         Germany
22  EETN     TALLINN              TALLINN-ULEMISTE INTERNATIONAL Estonia
23  EETU     TARTU                TARTU-ULENURME                 Estonia
24  EFHK     HELSINKI VANTAA      HELSINKI                       Finland
25  EGAA     ALDERGROVE           BELFAST                        North Ireland
26  EGAC     CITY                 BELFAST                        North Ireland
27  EGAE     LONDONDERRY EGLINTON LONDONDERRY                    North Ireland
28  EGBB     BIRMINGHAM           BIRMINGHAM                     England
29  EGCC     MANCHESTER           MANCHESTER                     England
30  EGGD     BRISTOL              BRISTOL                        England
⋮   ⋮        ⋮                    ⋮                              ⋮
303 ENOV     N/A                  ORSTA-VOLDA                    Norway
304 ENRA     N/A                  MO I RANA                      Norway
305 ENRM     N/A                  RORVIK                         Norway
306 ENRO     ROEROS               ROROS                          Norway
307 ENRS     N/A                  ROST                           Norway
308 ENSB     SVALBARD LONGYEAR    SVALBARD                       Norway
309 ENSD     N/A                  SANDANE                        Norway
310 ENSG     SOGNDAL HAUKASEN     SOGNDAL                        Norway
311 ENSH     N/A                  SVOLVAER                       Norway
312 ENSK     N/A                  STOKMARKNES                    Norway
313 ENSR     SORKJOSEN            SORKJOSEN                      Norway
314 ENSS     SVARTNES             SVARTNES                       Norway
315 ENST     STOKKA               SANDNESSJOEN                   Norway
316 ENTC     TROMSO               TROMSO                         Norway
317 ENVD     N/A                  VADSO                          Norway
318 ENVR     NA                   NA                             NA
319 GMAD     NA                   NA                             NA
320 GMFF     SAISS                FEZ                            Morocco
321 GMME     SALE                 RABAT                          Morocco
322 GMMN     MOHAMMED V           CASABLANCA                     Morocco
323 GMMX     MENARA               MARRAKECH                      Morocco
324 GMTT     IBN BATOUTA          TANGER                         Morocco
325 LLBG     BEN GURION           TEL-AVIV                       Israel
326 LPMT     MONTIJO              MONTIJO                        Acores
327 LTFM     NA                   NA                             NA
328 LEMI     NA                   NA                             NA
329 EVJA     NA                   NA                             NA
330 LERL     NA                   NA                             NA
331 LICJ     PALERMO              PALERMO                        Italy
332 LFOP     VALLEE DE SEINE      ROUEN                          France
    lat     lon
1   51.1124  4.2746
2   50.5480  4.2955
3   50.2733  4.2713
4   50.3814  5.2635
5   51.1156  2.5144
6   52.2248 13.3121
7   51.7570 13.4610
8   50.5848 10.5729
9   50.1350  8.3235
10  52.8400  7.4150
11  53.3749  9.5917
12  50.5157  7.8330
13  51.1722  6.4600
14  48.2113 11.4790
15  49.2955 11.4410
16  51.2526 12.1410
17  49.1252  7.6340
18  48.4123  9.1319
19  52.3334 13.1715
20  52.2739  9.4160
21  53.2510  8.4712
22  59.2447 24.4958
23  58.1826 26.4125
24  60.1912 24.5722
25  54.3927  6.1257
26  54.3750  5.5221
27  55.2340  7.9400
28  52.2713  1.4452
29  53.2113  2.1629
30  51.2257  2.4380
⋮   ⋮       ⋮
303  0.0000  0.0000
304  0.0000  0.0000
305  0.0000  0.0000
306 62.3442 11.2032
307  0.0000  0.0000
308 78.1446 15.2756
309  0.0000  0.0000
310 61.9220  7.8110
311  0.0000  0.0000
312  0.0000  0.0000
313 69.4713 20.5734
314 70.2119 31.2410
315 65.5724 12.2880
316 69.4100 18.5580
317  0.0000  0.0000
318      NA      NA
319      NA      NA
320 33.5538  4.5840
321 34.3500  6.4550
322 33.2240  7.3516
323 31.3624  8.2100
324 35.4336  5.5500
325 32.0340 34.5236
326 38.4213  9.2900
327      NA      NA
328      NA      NA
329      NA      NA
330      NA      NA
331 38.1033 13.5270
332 49.2330  1.1029

Let's separate main city (e.g. Amsterdam) and secondary city (e.g. Schiphol)

In [ ]:
# flights %>% separate(APT_NAME, c("airport_city_1", "airport_city_2", sep = " - "))

In [ ]:
flights_aug <- flights %>% left_join(airports_pr, by = c("APT_ICAO" = "icao_code")) %>% 
  #filter(YEAR == 2019) %>%
  select(YEAR, MONTH_NUM,	MONTH_MON,	FLT_DATE, APT_ICAO, APT_NAME, STATE_NAME, FLT_DEP_1, lat, lon, airport_name, city) %>%
  mutate(city = str_to_title(city))

flights_aug %>% filter(lat == 0) %>% head(3)

  YEAR MONTH_NUM MONTH_MON FLT_DATE   APT_ICAO APT_NAME
1 2016 01        JAN       2016-01-01 LELL     Sabadell
2 2016 01        JAN       2016-01-02 EIWT     Weston
3 2016 01        JAN       2016-01-02 LECU     Madrid - Cuatro Viento
  STATE_NAME FLT_DEP_1 lat lon airport_name city
1 Spain      1         0   0   N/A          Sabadell
2 Ireland    1         0   0   N/A          Weston
3 Spain      1         0   0   N/A          Madrid

We see that some airports have null lat, lons

In [ ]:
world.cities %>% filter(name == "Berlevåg")
world.cities

     name country.etc pop lat long capital

In [ ]:
additional_cities <- world.cities %>% select(name, country.etc, lat, long)
head(additional_cities, 3)

  name               country.etc lat   long
1 'Abasan al-Jadidah Palestine   31.31 34.34
2 'Abasan al-Kabirah Palestine   31.32 34.35
3 'Abdul Hakim       Pakistan    30.55 72.11

In [ ]:
flights_aug <- flights_aug %>% left_join(additional_cities, by = c("city" = "name")) 

flights_aug %>% filter(lat.x == 0) %>% head()

  YEAR MONTH_NUM MONTH_MON FLT_DATE   APT_ICAO APT_NAME
1 2016 01        JAN       2016-01-01 LELL     Sabadell
2 2016 01        JAN       2016-01-02 EIWT     Weston
3 2016 01        JAN       2016-01-02 LECU     Madrid - Cuatro Viento
4 2016 01        JAN       2016-01-02 LECU     Madrid - Cuatro Viento
5 2016 01        JAN       2016-01-02 LELL     Sabadell
6 2016 01        JAN       2016-01-03 EIWT     Weston
  STATE_NAME FLT_DEP_1 lat.x lon airport_name city     country.etc lat.y long
1 Spain      1         0     0   N/A          Sabadell Spain       41.55   2.10
2 Ireland    1         0     0   N/A          Weston   USA         26.10 -80.40
3 Spain      1         0     0   N/A          Madrid   Colombia     4.74 -74.27
4 Spain      1         0     0   N/A          Madrid   Spain       40.42  -3.71
5 Spain      0         0     0   N/A          Sabadell Spain       41.55   2.10
6 Ireland    1         0     0   N/A          Weston   USA         26.10 -80.40

In [ ]:
flights_aug <- flights_aug %>% 
  mutate(lat.x = ifelse(lat.x == 0, lat.y, lat.x),
        lon = ifelse(lon == 0, long, lon))

In [ ]:
head(flights_aug)

  YEAR MONTH_NUM MONTH_MON FLT_DATE   APT_ICAO APT_NAME      STATE_NAME
1 2016 01        JAN       2016-01-01 EBAW     Antwerp       Belgium
2 2016 01        JAN       2016-01-01 EBBR     Brussels      Belgium
3 2016 01        JAN       2016-01-01 EBBR     Brussels      Belgium
4 2016 01        JAN       2016-01-01 EBCI     Charleroi     Belgium
5 2016 01        JAN       2016-01-01 EBLG     Liège         Belgium
6 2016 01        JAN       2016-01-01 EBOS     Ostend-Bruges Belgium
  FLT_DEP_1 lat.x   lon    airport_name   city      country.etc lat.y long
1   4       51.1124 4.2746 DEURNE         Antwerp   Belgium     51.22   4.42
2 174       50.5480 4.2955 BRUSSELS NATL  Brussels  Belgium     50.83   4.33
3 174       50.5480 4.2955 BRUSSELS NATL  Brussels  Canada      43.75 -81.25
4  45       50.2733 4.2713 BRUSSELS SOUTH Charleroi Belgium     50.42   4.43
5   6       50.3814 5.2635 LIEGE          Liege     Belgium     50.64   5.57
6   7       51.1156 2.5144 OOSTENDE       Ostend    Belgium     51.22   2.92

In [ ]:
flights_cl <- flights_aug %>% 
  filter(YEAR == 2021) %>% 
  select(-c("YEAR", "MONTH_NUM", "MONTH_MON", "FLT_DATE", "airport_name", "lat.y", "long", "city", "country.etc")) %>%
  group_by(APT_ICAO) %>%
  summarize(dep_th = sum(FLT_DEP_1)) %>%
  left_join(flights_aug %>% select(APT_ICAO, lat.x, lon, APT_NAME, STATE_NAME) %>% distinct()) %>%
  filter(lat.x != 0)

head(flights_cl, 2)

Joining, by = "APT_ICAO"

  APT_ICAO dep_th lat.x   lon    APT_NAME STATE_NAME
1 EBAW       6669 51.1124 4.2746 Antwerp  Belgium
2 EBBR     114148 50.5480 4.2955 Brussels Belgium

In [ ]:
# Активируй этот
flights_cl <- flights_aug %>% 
  filter(YEAR == 2021) %>% 
  select(-c("YEAR", "MONTH_NUM", "MONTH_MON", "FLT_DATE", "airport_name", "city", "country.etc")) %>%
  group_by(APT_ICAO) %>%
  summarize(dep_th = sum(FLT_DEP_1)) %>%
  left_join(flights_aug %>% select(APT_ICAO, lat.x, lon, APT_NAME, STATE_NAME, lat.y, long) %>% distinct()) %>%
  filter(lat.x != 0) %>%
  filter(STATE_NAME %in% EU_borders$region )

Joining, by = "APT_ICAO"

In [ ]:
flights_cl <- flights_aug %>% 
  filter(YEAR == 2021) %>% 
  select(-c("YEAR", "MONTH_NUM", "MONTH_MON", "FLT_DATE", "airport_name", "lat.y", "long",  "country.etc")) %>%
  group_by(APT_ICAO) %>%
  summarize(dep_th = sum(FLT_DEP_1)) %>%
  left_join(flights_aug %>% select(APT_ICAO, lat.x, lon, APT_NAME, STATE_NAME, city) %>% distinct()) %>%
  filter(lat.x != 0)  %>%
  filter(STATE_NAME %in% EU_borders$region )


flight_cl

Joining, by = "APT_ICAO"

ERROR: ignored

In [ ]:
additional_cities

In [ ]:
install.packages("mapproj")
library(mapproj)

install.packages("viridis")
library(viridis)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: viridisLite


Attaching package: ‘viridis’


The following object is masked from ‘package:scales’:

    viridis_pal


The following object is masked from ‘package:maps’:

    unemp

In [ ]:
head(flights_cl)

  APT_ICAO dep_th lat.x   lon    APT_NAME      STATE_NAME lat.y long
1 EBAW       6669 51.1124 4.2746 Antwerp       Belgium    51.22   4.42
2 EBBR     114148 50.5480 4.2955 Brussels      Belgium    50.83   4.33
3 EBBR     114148 50.5480 4.2955 Brussels      Belgium    43.75 -81.25
4 EBCI      16605 50.2733 4.2713 Charleroi     Belgium    50.42   4.43
5 EBLG      20937 50.3814 5.2635 Liège         Belgium    50.64   5.57
6 EBOS       3389 51.1156 2.5144 Ostend-Bruges Belgium    51.22   2.92

In [ ]:
install.packages("wesanderson")
library(wesanderson)

install.packages("ggsci")
library("ggsci")

install.packages("MetBrewer")

library(MetBrewer)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Registered S3 method overwritten by 'MetBrewer':
  method        from
  print.palette wesanderson

Hiroshige

In [ ]:
ggplot()+
geom_polygon(data = EU_borders, aes(x = long, y = lat, group = group), fill = "navyblue", alpha = 0.3)+
geom_point(data = flights_cl, aes(x = long, y = lat.y, size  = dep_th/1000, color = dep_th/1000)) +
theme_void() +
scale_size_continuous(name = "Departures, T")+
scale_color_gradientn(low = "navy", mid = "white", high = "red", midpoint = 1000, l)
#scale_color_gradientn(colors = met.brewer("Archambault")) +

ylim(35,72)+
xlim(-20, 50) +
coord_map()

ERROR: ignored